<style>

    * {
        overflow: hidden;
    }

    header {
        background-color: cornflowerblue;
        height: 300px;
    }

    .ext1 {
        background-color: tomato;
    }

    .ext2 { 
        background-color: aqua;
    }

    .caja1 {
        height: 200px;
        border: 1px solid;
        background-color: aliceblue;
        margin: 50px 0;
    }

    .caja2 {
        height: 200px;
        border: 1px solid;
        background-color: blueviolet;
        margin: 50px 0;
        width: 90%;
    }

    .caja3 {
        height: 200px;
        border: 1px solid;
        background-color: steelblue;
        margin: 50px 25px;
        width: 90%;
    }

    
    
    footer {
        background-color: rgb(198, 210, 30);
        width: 100%;
        height: 300px;
    }
</style>

<header>
    <nav>
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-6 col-lg-8">
                <div class="caja1"></div>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="row justify-content-md-center ext1">
        <div class="col-6 col-sm-4"><div class="caja2"></div></div>
        <div class="col-6 col-sm-4"><div class="caja2"></div></div>
    </div>
</section>
<section>
    <div class="row justify-content-md-center ext2">
        <div class="col-6 col-sm-4"><div class="caja3"></div></div>
        <div class="col-6 col-sm-4"><div class="caja3"></div></div>
        <div class="col-6 col-sm-4"><div class="caja3"></div></div>
    </div>
</section>
<footer></footer>